@import "../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import "bootstrap.min.css";
@import "bootstrap-theme.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
@import "animate.min.css";
@import "hover.css";
@import "style.css";
$ff_source: 'Source Sans Pro', sans-serif;
$ff_quick:'Quicksand', sans-serif;
$fw_r:400;
$fw_s:600;
$fw_b:700;